html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: black;
	background-image: url('../assets/background.jpg');
}

.minimap {
	position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
}
