@font-face {
    font-family: custom;
    src: url(../fonts/Ancient_Medium.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: black;
	background-image: url('../assets/background.jpg');

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.minimap {
	position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
}

#minimap-frame {
	position: absolute;
	z-index: 101;
	bottom: 0;
	left: 0;
}

#top-frame {
	position: absolute;
	z-index: 101;
	top: 0;
	left: 50%;
	margin-left: -180px;
}

#top-frame-time {
	position: absolute;
	z-index: 102;
	top: 0;
	left: 50%;
	margin-left: -180px;
	width: 360px;
	height: 45px;
	font-size: 40px;
	text-align: center;
	font-family: custom;
	line-height: 34px;
	color: #fffde7;
}

#bottom-frame {
	position: absolute;
	z-index: 101;
	bottom: 0;
	right: 0;
}

#construction-frame {
	position: absolute;
	z-index: 101;
	bottom: 0;
	left: 245px;
}

.constructions {
	position: absolute;
    bottom: 10px;
    left: 260px;
    width: 445px;
    height: 120px;
	z-index: 102;
}